.App {
  text-align: center;
}
.products{
  margin-top: 20px;
}
.productItem{
  margin: 50px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

input[type="radio"]{
  display: none;
}
label .star{
  cursor: pointer;
}